---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('work')).sort(
	(a, b) => a.data.publishDate.valueOf() - b.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Disblind - Work"
	description="Apprendre plus sur mon travail"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Projets"
				tagline="Mon travail et différents projets auquel j'ai participé"
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
